.container {
  padding: 0 1rem;
}

.main {
  min-height: 88vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 4s;
}

.title {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-left: 6px;
  padding-right: 6px;
  cursor: context-menu;
  transition: font-size 1s, color 1s;
  background: linear-gradient(to right, rgb(255 214 213), rgb(220 22 21));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title,
.description {
  text-align: center;
}

.title:hover {
  color: #ffa500;
  font-size: 4.11rem;
  transition: all 0.5s;
}

.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card h2 {
  margin: 0 0 0 0;
}
.card1 h2 {
  margin: 0 0 0 0;
}

.card {
  margin: 0.5rem;
  padding: 1.4rem;
  text-align: center;
  color: #9693f1;
  text-decoration: none;
  border: 2px solid #c55f5f;
  border-radius: 0rem 3rem 0rem 3rem;
  width: 190px;
  font-size: 1.1rem;
  transition: all 0.5s;
  backdrop-filter: blur(0px);
  animation: rgb-cycle 5s infinite;
}

.card1 {
  margin: 0.5rem;
  padding: 1.4rem;
  text-align: center;
  color: #9693f1;
  text-decoration: none;
  border: 2px solid #c55f5f;
  border-radius: 3rem 0rem 3rem 0rem;
  width: 190px;
  font-size: 1.1rem;
  transition: all 0.5s;
  backdrop-filter: blur(0px);
  animation: rgb-cycle 5s infinite;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card:hover,
.card:focus,
.navbar ul li a:hover,
.card:active {
  color: c55f5f;
  border-color: rgb(197 206 77);
  border: solid #c55f5f;
  border-radius: 3rem 0rem 3rem 0rem;
  font-size: 1.2rem;
  transition: color 0.5s ease, border 0.5s ease, border-radius 0.5s,
    font-size 0.5s blur 0.5s;
  backdrop-filter: blur(10px);
}

.card1:hover,
.card1:focus,
.navbar ul li a:hover,
.card1:active {
  color: c55f5f;
  border-color: rgb(197 206 77);
  border: solid #c55f5f;
  border-radius: 0rem 3rem 0rem 3rem;
  font-size: 1.2rem;
  transition: color 0.5s ease, border 0.5s ease, border-radius 0.5s,
    font-size 0.5s blur 0.5s;
  backdrop-filter: blur(10px);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card1 p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes rgb-cycle {
  0% {
    color: rgb(255 214 213);
  }
  50% {
    color: rgb(220 22 21);
  }
  100% {
    color: rgb(255 214 213);
  }
}
