.container {
  padding: 0 2rem;
  font-size: 1.1rem;
}

.main {
  min-height: 88vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-grow: 1;
  transition: font-size 0.5s, color 0.5s;

}

.footer:hover{
  color: #a020f0;
  font-size: 1.6rem;
  cursor:context-menu;

  transition: all 0.5s;
}

.title  {
  text-decoration: none;
}

.title :hover,
.title :focus,
.title :active {
}

.title {
  margin: 0;
  line-height: 1.15; 
  font-size: 4rem;
  padding-left:6px;
  padding-right:6px;
  cursor:context-menu;
  transition: font-size 1s, color 1s;


}

.title,
.description {
  text-align: center;

}

.title:hover{

  color: #FFA500;
  font-size: 4.11rem;
  transition: all 0.5s;
}


.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}


.card h2 {
  margin: 0 0 0 0;
}

.card {
  margin: 1rem;
  padding: 1.4rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 190px;
  font-size: 1.1rem;
  transition: color 0.5s ease, border 0.5s ease, border-radius 0.5s,
    font-size 0.5s;
}

.card2 {
  margin: 1rem;
  padding: 0.2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  font-size: 1.1rem;
  transition: color 0.5s ease, border 0.5s ease, border-radius 0.5s,
  font-size 0.5s;
  width: 200px;
}


.card:hover,
.card:focus,
.navbar ul li a:hover,
.card:active {
  color: #FFA500;
  border-color: #a020f0;
  border: 5px solid #a020f0;
  border-radius: 3rem;
  font-size: 1.2rem;
  transition: color 0.5s ease, border 0.5s ease, border-radius 0.5s,
    font-size 0.5s;
}

.card2:hover,
.navbar ul li a:hover,
.card2:focus,
.card2:active {
  color: #a020f0;
  border: 5px solid #FFA500;
  border-radius: 3rem;
  font-size: 1.3rem;
  transition: color 0.5s ease, border 0.5s ease, border-radius 0.5s,
    font-size 0.5s;
}


.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;
  background: #121212;
  border-bottom: 5px solid #eaeaea;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #eaeaea;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.navbar ul li {
  list-style: none;
  margin: 0 1rem;
}

.blogitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bloghead {
  padding-top: 0.1rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.semititle {
  margin-bottom: 3px;
  color: black;
  display: block;
}
